In [1]:
import yaml
import pyodbc
from market_growth_analysis.etl.stagging import *
import pandas as pd

In [3]:
financial = pd.read_csv("../../data/processed_03/financial-prices-ratios.csv", index_col=0)

In [4]:
# Load the YAML file
with open('../../conf/global.yml', 'r') as f:
    columns = yaml.safe_load(f)

In [6]:
columns_ratios = columns['columns_ratios']

In [7]:
ratios_df = financial[columns_ratios]

In [9]:
ratios_df.head(2)

,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
0,8148.062046,1.818358,38.985943,173.363022,49.988111,394.0,20.680361,20.680361,-178.004562,1.237015,13.585936
1,10215.772131,1.876519,13.301787,18.049067,71.942057,-456.0,-22.403009,-22.403009,11.615858,1.461200,11.079070

In [10]:
ratios_df.describe()

,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
count,4.809500e+04,4.546100e+04,4.338300e+04,4.338000e+04,2.067900e+04,54596.000000,4.696800e+04,4.696800e+04,4.866300e+04,4.570300e+04,4.812000e+04
mean,5.033202e+07,2.093133e+06,-1.635304e+07,-1.611415e+07,NaN,244.345771,inf,inf,inf,5.527528e+06,inf
std,8.144591e+09,2.719267e+08,1.853450e+09,1.852664e+09,NaN,6207.402514,NaN,NaN,NaN,5.068429e+08,NaN
min,-9.816426e+03,-1.680051e+04,-2.765071e+11,-2.763824e+11,-inf,-341822.000000,-3.643247e+12,-3.643247e+12,-2.223530e+11,-1.654114e+04,-6.388385e+12
25%,3.123743e+02,1.379789e+00,-7.940197e-01,-3.387370e+00,4.735112e+00,-60.766525,-1.346549e+01,-1.346549e+01,-2.913847e+00,7.663726e-01,-6.856935e-01
50%,1.741000e+03,3.082043e+00,1.013171e+01,1.257650e+01,1.649107e+01,1.759000,1.562426e+00,1.562426e+00,9.963503e+00,1.752046e+00,6.753109e+00
75%,8.255493e+03,8.737657e+00,1.686291e+01,2.381735e+01,7.553815e+01,146.716750,2.572460e+01,2.572460e+01,2.051324e+01,3.878814e+00,1.389220e+01
max,1.694839e+12,5.276638e+10,3.113391e+09,6.005913e+09,inf,287656.000000,inf,inf,inf,7.586741e+10,inf

In [11]:
import numpy as np

# Replace -inf and inf with None
ratios_df = ratios_df.replace([-np.inf, np.inf], None)

In [14]:
ratios_df = ratios_df.astype(float)

In [15]:
ratios_df

,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
0,8148.062046,1.818358,38.985943,173.363022,49.988111,394.000,20.680361,20.680361,-178.004562,1.237015,13.585936
1,10215.772131,1.876519,13.301787,18.049067,71.942057,-456.000,-22.403009,-22.403009,11.615858,1.461200,11.079070
2,9735.671782,1.471757,7.353226,9.090263,83.210870,2554.000,3.811931,3.811931,8.422705,1.288235,6.763232
3,11288.738108,1.646069,7.949816,10.088238,103.566405,-1138.000,-9.919805,-9.919805,7.180686,1.208623,6.749787
4,14266.867039,3.663808,18.821724,36.960795,102.639331,904.000,15.781933,15.781933,15.710508,2.964784,10.021586
...,...,...,...,...,...,...,...,...,...,...,...
56440,97.010244,3.039454,8.842425,9.354893,NaN,8.326,11.651483,11.651483,10.196726,3.044717,10.329320
56441,261.872787,5.758990,22.110164,23.664629,NaN,6.143,42.629462,42.629462,28.112160,5.878096,42.406598
56442,446.488373,5.572606,37.770779,43.564091,NaN,-0.167,-2673.583075,-2673.583075,50.984852,5.870315,574.989454
56443,372.004333,2.854961,15.090229,16.632582,NaN,-9.657,-38.521729,-38.521729,20.599172,2.726513,51.124958
56444,574.220564,3.630470,22.030330,25.033593,NaN,13.328,43.083776,43.083776,31.613636,3.441025,39.593814

In [16]:
ratios_df.describe()

,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
count,4.809500e+04,4.546100e+04,4.338300e+04,4.338000e+04,2.067400e+04,54596.000000,4.694900e+04,4.694900e+04,4.830000e+04,4.570300e+04,4.808200e+04
mean,5.033202e+07,2.093133e+06,-1.635304e+07,-1.611415e+07,2.071908e+04,244.345771,-8.340090e+07,-8.340090e+07,2.276516e+07,5.527528e+06,-1.723798e+08
std,8.144591e+09,2.719267e+08,1.853450e+09,1.852664e+09,1.721492e+06,6207.402514,1.685837e+10,1.685837e+10,7.737213e+09,5.068429e+08,3.098874e+10
min,-9.816426e+03,-1.680051e+04,-2.765071e+11,-2.763824e+11,-9.346288e+02,-341822.000000,-3.643247e+12,-3.643247e+12,-2.223530e+11,-1.654114e+04,-6.388385e+12
25%,3.123743e+02,1.379789e+00,-7.940197e-01,-3.387370e+00,4.735097e+00,-60.766525,-1.347164e+01,-1.347164e+01,-2.983694e+00,7.663726e-01,-6.945563e-01
50%,1.741000e+03,3.082043e+00,1.013171e+01,1.257650e+01,1.648186e+01,1.759000,1.525653e+00,1.525653e+00,9.821835e+00,1.752046e+00,6.742112e+00
75%,8.255493e+03,8.737657e+00,1.686291e+01,2.381735e+01,7.550369e+01,146.716750,2.568955e+01,2.568955e+01,2.013360e+01,3.878814e+00,1.387185e+01
max,1.694839e+12,5.276638e+10,3.113391e+09,6.005913e+09,2.174602e+08,287656.000000,1.025684e+09,1.025684e+09,1.674878e+12,7.586741e+10,5.463123e+11