In [3]:
import yaml
import pyodbc
from market_growth_analysis.etl.stagging import *
import pandas as pd

In [5]:
financial = pd.read_csv("../../data/processed_03/financial-prices-ratios.csv", index_col=0)

In [7]:
financial.head(2)

,PK,Date,Cash On Hand,Receivables,Inventory,Pre-Paid Expenses,Other Current Assets,Total Current Assets,"Property, Plant, And Equipment",Long-Term Investments,...,EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
0,0,2009-10-31,2493.0,595.0,552.0,NaN,321.0,3961.0,845.0,163.0,...,1.818358,38.985943,173.363022,49.988111,394.0,20.680361,20.680361,-178.004562,1.237015,13.585936
1,1,2010-10-31,4199.0,869.0,716.0,NaN,385.0,6169.0,980.0,142.0,...,1.876519,13.301787,18.049067,71.942057,-456.0,-22.403009,-22.403009,11.615858,1.461200,11.079070

In [8]:
# Load the YAML file
with open('../../conf/global.yml', 'r') as f:
    columns = yaml.safe_load(f)

In [9]:
columns_ratios = columns['columns_ratios']

In [10]:
financial[columns_ratios].describe()

,Enterprise Value (EV),EV / Revenue,EV / EBITDA,EV / EBIT,EV / Invested Capital,Free Cash Flow (FCF),EV / Free Cash Flow,EV / FCF,P/E,P/S,P/CF
count,4.809500e+04,4.546100e+04,4.338300e+04,4.338000e+04,2.067900e+04,54596.000000,4.696800e+04,4.696800e+04,4.866300e+04,4.570300e+04,4.812000e+04
mean,5.033202e+07,2.093133e+06,-1.635304e+07,-1.611415e+07,NaN,244.345771,inf,inf,inf,5.527528e+06,inf
std,8.144591e+09,2.719267e+08,1.853450e+09,1.852664e+09,NaN,6207.402514,NaN,NaN,NaN,5.068429e+08,NaN
min,-9.816426e+03,-1.680051e+04,-2.765071e+11,-2.763824e+11,-inf,-341822.000000,-3.643247e+12,-3.643247e+12,-2.223530e+11,-1.654114e+04,-6.388385e+12
25%,3.123743e+02,1.379789e+00,-7.940197e-01,-3.387370e+00,4.735112e+00,-60.766525,-1.346549e+01,-1.346549e+01,-2.913847e+00,7.663726e-01,-6.856935e-01
50%,1.741000e+03,3.082043e+00,1.013171e+01,1.257650e+01,1.649107e+01,1.759000,1.562426e+00,1.562426e+00,9.963503e+00,1.752046e+00,6.753109e+00
75%,8.255493e+03,8.737657e+00,1.686291e+01,2.381735e+01,7.553815e+01,146.716750,2.572460e+01,2.572460e+01,2.051324e+01,3.878814e+00,1.389220e+01
max,1.694839e+12,5.276638e+10,3.113391e+09,6.005913e+09,inf,287656.000000,inf,inf,inf,7.586741e+10,inf

In [14]:
financial[['Close', 'EPS - Earnings Per Share', 'ticker', 'Date']][financial['P/E'] < 0]

           Close  EPS - Earnings Per Share ticker        Date
0      16.020411                   -0.0900      A  2009-10-31
18     36.509171                   -1.4000     AA  2014-12-31
19     23.057190                   -4.7300     AA  2015-12-31
20     27.684303                   -2.1900     AA  2016-12-31
23     21.206888                   -6.0700     AA  2019-12-31
...          ...                       ...    ...         ...
56428   2.880000                   -0.9500   ZYNE  2021-12-31
56429   0.530000                   -0.8200   ZYNE  2022-12-31
56434   0.168098                   -0.2091   ZYXI  2013-12-31
56435   0.150054                   -0.1818   ZYXI  2014-12-31
56436   0.397204                   -0.0818   ZYXI  2015-12-31

[16935 rows x 4 columns]